/****** Script for SelectTopNRows command from SSMS  ******/
IF OBJECT_ID(N'staging.tmp_ABC_S2_EVENT_PART_REVERSE_ALL') IS NOT NULL
BEGIN
  TRUNCATE TABLE staging.tmp_ABC_S2_EVENT_PART_REVERSE_ALL
  DROP TABLE staging.tmp_ABC_S2_EVENT_PART_REVERSE_ALL
END

SELECT ROW_NUMBER() OVER(PARTITION BY [Unique Link Key] ORDER BY [Received Month] DESC) AS DUPLICATE_ULK
      ,[Unique Link Key]
      ,[Master Event Activity Month]
      ,[Source System]
      ,[Region]
      ,[Event Country Iso Cd]
      ,[Part Qty Demanded]
      ,[Event Hwpl]
      ,[Part Number]
      ,[Part Actual SL]
      ,[Part Shipment Month]
      ,[Part Qty Consumed]
      ,[DMR Flag]
      ,[Event SPL]
      ,[Sc SPL]
      ,[Part SPL]
      ,[Part Commodity]
      ,[Part Description]
      ,[Safari Warranty Flag]
      ,[L2 Reverse Unique Link Key]
      ,[Received Month]
      ,[Phy Part No Rec Date]
      ,[Flow Tag]
      ,[Actual Disposition]
      ,[Notification Type A]
      ,[Receipt Type]
      ,[CT Code Label]
      ,[Received Part Kit Part Number]
      ,[Physical Part Number]
      ,[Part Qty Received]
      ,[Received Plant]
      ,[Match FL]
      ,[SN Transaction Status]
      ,[Sales Doc Type]
      ,[Sales Document]
      ,[Event Number]
      ,[So + Item]
      ,[Data Period]
      ,[Master Event Number]
  INTO staging.tmp_ABC_S2_EVENT_PART_REVERSE_ALL
  FROM [fact].[ABC_S2_EVENT_PART_REVERSE_ALL]
 WHERE [Data Period] = '2017Q1'
 order by ROW_NUMBER() OVER(PARTITION BY [Unique Link Key] ORDER BY [Received Month] DESC) DESC

DELETE FROM staging.tmp_ABC_S2_EVENT_PART_REVERSE_ALL
WHERE [DUPLICATE_ULK] > 1

DELETE FROM [fact].[ABC_S2_EVENT_PART_REVERSE_ALL]
WHERE [Data Period] = '2017Q1'

INSERT INTO [fact].[ABC_S2_EVENT_PART_REVERSE_ALL]
(
       [Unique Link Key]
      ,[Master Event Activity Month]
      ,[Source System]
      ,[Region]
      ,[Event Country Iso Cd]
      ,[Part Qty Demanded]
      ,[Event Hwpl]
      ,[Part Number]
      ,[Part Actual SL]
      ,[Part Shipment Month]
      ,[Part Qty Consumed]
      ,[DMR Flag]
      ,[Event SPL]
      ,[Sc SPL]
      ,[Part SPL]
      ,[Part Commodity]
      ,[Part Description]
      ,[Safari Warranty Flag]
      ,[L2 Reverse Unique Link Key]
      ,[Received Month]
      ,[Phy Part No Rec Date]
      ,[Flow Tag]
      ,[Actual Disposition]
      ,[Notification Type A]
      ,[Receipt Type]
      ,[CT Code Label]
      ,[Received Part Kit Part Number]
      ,[Physical Part Number]
      ,[Part Qty Received]
      ,[Received Plant]
      ,[Match FL]
      ,[SN Transaction Status]
      ,[Sales Doc Type]
      ,[Sales Document]
      ,[Event Number]
      ,[So + Item]
      ,[Data Period]
      ,[Master Event Number]
)SELECT 
       [Unique Link Key]
      ,[Master Event Activity Month]
      ,[Source System]
      ,[Region]
      ,[Event Country Iso Cd]
      ,[Part Qty Demanded]
      ,[Event Hwpl]
      ,[Part Number]
      ,[Part Actual SL]
      ,[Part Shipment Month]
      ,[Part Qty Consumed]
      ,[DMR Flag]
      ,[Event SPL]
      ,[Sc SPL]
      ,[Part SPL]
      ,[Part Commodity]
      ,[Part Description]
      ,[Safari Warranty Flag]
      ,[L2 Reverse Unique Link Key]
      ,[Received Month]
      ,[Phy Part No Rec Date]
      ,[Flow Tag]
      ,[Actual Disposition]
      ,[Notification Type A]
      ,[Receipt Type]
      ,[CT Code Label]
      ,[Received Part Kit Part Number]
      ,[Physical Part Number]
      ,[Part Qty Received]
      ,[Received Plant]
      ,[Match FL]
      ,[SN Transaction Status]
      ,[Sales Doc Type]
      ,[Sales Document]
      ,[Event Number]
      ,[So + Item]
      ,[Data Period]
      ,[Master Event Number]
 FROM staging.tmp_ABC_S2_EVENT_PART_REVERSE_ALL
  
SELECT [Unique Link Key] FROM [fact].[ABC_S2_EVENT_PART_REVERSE_ALL]
WHERE [Data Period] = '2017Q1'
group by [Unique Link Key] 
having count([Unique Link Key] )>1
